{
  "server_dn": "AD.UKY.EDU",
  "server_dc": "DC=ad,DC=uky,DC=edu",
  "server_url": "ldap://gc.ad.uky.edu:3268",
  "whiteListedFields": [ "displayName", "givenName", "department", "employeeNumber", "mail", "title", "address", "phone", "memberOf"]
}
